html {
    width            : 100%;
    height           : 100%;
}

body {
    width            : 100%;
    height           : 100%;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    width: 75%;
    border: 1px solid green;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

legend {
    font-weight: bold;
    display: block;
    margin-left: 3px;
    padding-top: 2px;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.2em;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

h1, h2, h3 {
    text-align: justify
}

.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 500px;
    background-color: #FCFCFC;
}

.header {
    background-color: #C1D4E6;
    font-weight: bold;
    color: #FFF;
}

.webGrid th, .webGrid td {
    border: 1px solid #C0C0C0;
    padding: 5px;
}

.alt {
    background-color: #E4E9F5;
    color: #000;
}

.gridHead a:hover {
    text-decoration: underline;
}

.description {
    width: auto;
}